@import "~react-image-gallery/styles/css/image-gallery.css";

p {
  font-family: "Roboto", sans-serif;
}

/* Navbar start */

.menuIcon {
  color: #242424;
}

.MuiDrawer-paper {
  background-color: #ffffffe7 !important;
}

.MuiDrawer-paperAnchorLeft {
  width: 80%;
}

a:-webkit-any-link {
  text-decoration: none;
  color: #242424;
}

.drawerLinkText {
  color: #242424;
  display: flex;
  align-items: center;
  height: 50px;
  font-size: 23px;
}

.ArrowIcon {
  margin-right: 0%;
  margin-left: auto;
}

/* Navbar end */

/* Header start */

.header {
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}

.logoMobile {
  font-family: "Cinzel", serif;
  color: #242424;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  padding-left: 28px;
  -webkit-tap-highlight-color: transparent;
}

.logoBigScreen {
  font-family: "Cinzel", serif;
  color: #242424;
  -webkit-tap-highlight-color: transparent;
  margin: 15px auto 15px 28px;
}

.navLinkText {
  font-family: "Roboto", sans-serif;
  color: #242424;
  display: flex;
  text-align: center;
  margin-right: 30px;
  margin-left: 30px;
}

.searchIcon {
  padding-right: 12px;
  padding-left: 25px;
  color: #242424;
}

.cartIcon {
  padding-right: 12px;
  color: #242424;
}

/* Header end */

/* Home start */

.mainImage {
  background-position: center center;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  display: flow-root;
  text-align: center;
  position: relative;
}

.mainText {
  font-family: "Cinzel", serif;
  letter-spacing: 1px;
  line-height: 95%;
  font-size: 50px;
  text-align: center;
  margin: 100px 0px 0px 0px;
  color: #242424;
  margin: 100px 5% 0px 5%;
}

.shopByCategory {
  font-family: "Roboto", sans-serif;
  color: #242424;
  text-align: center;
  font-size: 25px;
  margin: 30px 5% 30px 5%;
}

.homeBackground {
  background-color: #f3f3f3;
  padding-bottom: 30px;
}

/* Home end */

/* Category page start */

.categoryName {
  color: #242424;
  text-align: center;
  font-size: 25px;
  padding: 100px 5% 0px 5%;
  /* top: 0px; */
}

.categoryDescription {
  color: #242424;
  text-align: center;
  font-size: 16px;
  margin: 30px 5% 30px 5%;
}

.sortButton-mobile {
  text-align: right !important;
  margin: 20px 5% 20px 5% !important;
  display: block !important;
}

.sortButton-bigScreen {
  text-align: right !important;
  margin: 20px 6.1% 20px 5% !important;
  display: block !important;
}

/* Category page end */

/* Product view page start */

.productView-mobile {
  margin: 100px 5% 100px 5%;
}

.productView-bigScreen {
  margin: 100px auto 100px auto;
  width: 850px;
}

.productViewCategory {
  font-size: 18px;
}

.productViewName {
  font-size: 30px;
  margin: 20px 0px 10px 0px;
}

.productViewPrice {
  font-size: 20px;
  margin-bottom: 20px;
}

/* Product view page end */

/* Footer start */

.galleyText {
  font-family: "Roboto", sans-serif;
  color: #242424;
  text-align: center;
  font-size: 25px;
  padding: 40px 0px 40px 0px;
}

.footer {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  line-height: 150%;
  padding: 70px 5% 10px 5%;
}

.lastFooter {
  text-align: center;
  font-size: 12px;
  margin: 20px 5% 0px 5%;
}

/* Footer end */
