@import "~react-image-gallery/styles/css/image-gallery.css";

/* Navbar start */

.menuIcon {
  color: #242424;
}

.MuiDrawer-paper {
  background-color: #ffffffe7 !important;
}

.MuiDrawer-paperAnchorLeft {
  width: 80%;
}

a:-webkit-any-link {
  text-decoration: none;
  color: #242424;
}

.navLinkText {
  color: #242424;
  display: flex;
  align-items: center;
  height: 50px;
  font-size: 23px;
}

.ArrowIcon {
  margin-right: 0%;
  margin-left: auto;
}

/* Navbar end */

/* Header start */

.header {
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}

.logo {
  font-family: "Cinzel", serif;
  color: #242424;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  padding-left: 28px;
  -webkit-tap-highlight-color: transparent;
}

.searchIcon {
  padding-right: 12px;
  color: #242424;
}

.cartIcon {
  padding-right: 12px;
  color: #242424;
}

/* Header end */

/* Home start */

.mainImage {
  background-position: center center;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  display: flow-root;
  text-align: center;
}

.mainText {
  font-family: "Cinzel", serif;
  letter-spacing: 1px;
  line-height: 95%;
  font-size: 50px;
  text-align: center;
  margin: 130px 0px 0px 0px;
  color: #242424;
}

.shopByCategory {
  color: #242424;
  text-align: center;
  font-size: 25px;
  margin: 30px 5% 30px 5%;
}

.homeBackground {
  background-color: #f3f3f3;
  padding-bottom: 30px;
}

/* Home end */

/* Category page start */

.categoryName {
  color: #242424;
  text-align: center;
  font-size: 25px;
  padding: 100px 5% 0px 5%;
  top: 0px;
}

.categoryDescription {
  color: #242424;
  text-align: center;
  font-size: 16px;
  margin: 30px 5% 30px 5%;
}

/* Product page end */

/* Footer start */

.galleyText {
  color: #242424;
  text-align: center;
  font-size: 25px;
  padding: 40px 0px 40px 0px;
}

.footer {
  font-weight: 300;
  line-height: 150%;
  padding: 70px 5% 10px 5%;
}

.lastFooter {
  text-align: center;
  font-size: 12px;
  margin: 20px 5% 0px 5%;
}
/* Footer end */
