@import "~react-image-gallery/styles/css/image-gallery.css";
/* 
_mobile: -599px
_bigger-screen: 600px-
 */

.App {
  min-height: 100vh;
  overflow: hidden;
  display: block;
  position: relative;
  margin: 0px auto;
}

p {
  font-family: "Roboto", sans-serif;
}

/* Navbar (< 599px) start */

.menu-icon {
  color: #242424;
  padding: 0px 10px 0px 4.2% !important;
  justify-content: flex-start !important;
  min-width: 0px !important;
  background-color: transparent;
  border-width: 0px;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
}

.MuiDrawer-paper {
  background-color: #ffffffe7 !important;
}

.MuiDrawer-paperAnchorLeft {
  width: 80%;
}

a:-webkit-any-link {
  text-decoration: none;
  color: #242424;
}

.drawer-link-text {
  color: #242424;
  display: flex;
  align-items: center;
  height: 50px;
  font-size: 23px;
}

.arrow-icon {
  margin-right: 0%;
  margin-left: auto;
}

/* Navbar (< 599px) end */

/* Navbar (> 600px) start */

.navbar {
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
  padding: 0px auto;
  left: 0;
  right: 0;
}

.logo_mobile {
  font-family: "Cinzel", serif;
  color: #242424;
  text-align: center;
  margin: 15px auto 15px auto;
  padding-left: 28px;
  -webkit-tap-highlight-color: transparent;
}

.logo_bigger-screen {
  font-family: "Cinzel", serif;
  color: #242424;
  text-align: center;
  -webkit-tap-highlight-color: transparent;
  margin: 15px auto 15px 28px;
}

.nav-link-text {
  font-family: "Roboto", sans-serif;
  color: #242424;
  display: flex;
  text-align: center;
  margin-right: 30px;
  margin-left: 30px;
}

.search-icon {
  padding-left: 2%;
  color: #242424;
}

.cart-icon {
  padding: 0px !important;
  margin: 0px 22px 0px 10px !important;
  color: #242424;
  justify-content: flex-start !important;
  min-width: 0px !important;
  background-color: transparent;
  border-width: 0px;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
}

.cart-state_container {
  position: absolute;
  background-color: #fdab3f;
  height: 20px;
  width: 20px;
  border-radius: 10px;
  margin-left: 30px;
  margin-top: -5px;
}

.cart-state_container-more-than-ten {
  position: absolute;
  background-color: #fdab3f;
  height: 20px;
  width: 28px;
  border-radius: 10px;
  margin-left: 22px;
  margin-top: -5px;
}

.cart-state_container-more-than-hundred {
  position: absolute;
  background-color: #fdab3f;
  height: 20px;
  width: 38px;
  border-radius: 10px;
  margin-left: 12px;
  margin-top: -5px;
}

.cart-state {
  color: #000000;
  text-align: center;
}

/* Navbar (> 600px) end */

/* Home start */

.main-image {
  background-position: center center;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  display: flow-root;
  text-align: center;
  position: relative;
}

.main-text {
  font-family: "Cinzel", serif;
  letter-spacing: 1px;
  line-height: 95%;
  font-size: 50px;
  text-align: center;
  color: #242424;
  margin: 120px 5% 0px 5%;
}

.shop-by-category {
  font-family: "Roboto", sans-serif;
  color: #242424;
  text-align: center;
  font-size: 25px;
  margin: 30px 5% 30px 5%;
}

.home-background {
  background-color: #f3f3f3;
}

.category_container {
  margin: 0px 5% 0px 5%;
}

/* Home end */

/* Category page start */

.category-name {
  color: #242424;
  text-align: center;
  font-size: 25px;
  padding: 100px 5% 0px 5%;
}

.category-description {
  color: #242424;
  text-align: center;
  font-size: 16px;
  margin: 30px 5% 30px 5%;
}

.sort-button_mobile {
  text-align: right !important;
  margin: 20px 5% 20px 5% !important;
  display: block !important;
}

.sort-button_600-959px {
  text-align: right !important;
  margin: 20px 24px !important;
  display: block !important;
}

.sort-button_959-1279px {
  text-align: right !important;
  margin: 20px 30px !important;
  display: block !important;
}

.sort-button_1280-px {
  text-align: right !important;
  margin: 20px 35px !important;
  display: block !important;
}

/* Category page end */

/* Product view page start */

.product-view_mobile {
  margin: 100px 5% 200px 5%;
}

.product-view_bigger-screen {
  margin: 100px 30px 100px 30px;
}

.product-view_1280-px {
  margin: 100px auto 100px auto;
}

.product-view-category {
  font-size: 16px;
  margin-bottom: 40px;
}

.product-view-name_mobile {
  font-size: 30px;
  margin: 20px 0px 30px 0px;
}

.product-view-name_bigger-screen {
  font-size: 30px;
  margin: 51px 0px 30px 0px;
}

.product-view-price {
  font-size: 21px;
  margin: 30px 0px 0px 0px;
}

.image-gallery-thumbnails .image-gallery-thumbnails-container {
  text-align: left;
  cursor: default;
}

.image-gallery-thumbnail.active,
.image-gallery-thumbnail:focus {
  border: 2px solid #cfcfcf;
}

.image-gallery-thumbnail:hover {
  border: 2px solid #666666;
}

.image-gallery-thumbnail {
  border: 2px solid transparent;
  transition: border 0.1s ease-out;
}

.product-view-description_mobile {
  font-size: 16px;
  margin-top: 30px;
}

.product-view-description_bigger-screen {
  font-size: 16px;
  margin-top: 0px;
}

.product-view-id {
  font-size: 16px;
  color: #929292;
  margin-top: 0px;
}

.quantity-select {
  margin: 30px 0px 30px 0px;
}

.add-to-cart-button {
  margin: 30px 0px 30px 0px;
}

.add-to-cart-button-icon {
  padding-right: 12px;
  color: #2b2b2b;
}

input[type="number" i] {
  padding: 10px 10px;
}

/* Product view page end */

/* Not available page start */

.not-found_container_mobile {
  margin: 100px 5% 100px 5%;
}

.not-found_container_big-screen {
  margin: 100px auto 100px auto;
  width: 850px;
}

.not-found {
  font-size: 16px;
}

/* Not available page start */

/* Cart preview start */

.cart-preview_container_mobile {
  background-color: #ffffff;
  border-radius: 5px;
  width: 300px;
  margin-top: 20px;
  border: 1px solid rgb(161, 161, 161);
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.cart-preview_container_bigger-screen {
  background-color: #ffffff;
  border-radius: 5px;
  width: 400px;
  margin-top: 20px;
  border: 1px solid rgb(192, 192, 192);
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.cart-preview {
  padding: 15px;
}

.title-in-cart-preview {
  font-size: 20px;
  letter-spacing: 0.6px;
  padding: 0px 0px 5px 0px;
  font-weight: 400;
}

.item-in-cart-preview_mobile {
  overflow-y: auto;
  max-height: 300px;
}

.item-in-cart-preview_bigger-screen {
  overflow-y: auto;
  max-height: 400px;
}

.product-name-in-cart-preview {
  font-size: 19px;
  padding-bottom: 10px;
}

.sub-info-in-cart-preview {
  font-size: 16px;
  padding-bottom: 5px;
  color: #6d6d6d;
}

.no-product-in-cart-preview {
  color: #4d4d4d;
  padding-top: 10px;
}

.go-to-cart-button {
  margin: 30px 0px 0px 0px;
}

.add-to-cart-button-icon-in-cart-preview {
  padding-right: 12px;
  color: #2b2b2b;
}

/* Cart preview end */

/* Cart start */

.title-in-cart {
  font-size: 20px;
  letter-spacing: 0.6px;
  font-weight: 400;
}

hr {
  margin: 25px 0px;
  height: 1px;
  background-color: #ccc;
  border: none;
}

.cart_container_mobile {
  margin: 100px 5% 200px 5%;
}

.cart_container_bigger-screen {
  margin: 100px 30px 100px 30px;
}

.cart_container_over1280px {
  margin: 100px 0px 100px 0px;
  max-width: 1280px;
}

.product-name-in-cart_mobile {
  font-size: 16px;
  padding-bottom: 10px;
}

.product-name-in-cart_bigger-screen {
  font-size: 16px;
}

#quantity-select-inside-in-cart_dropDown {
  padding: 10px;
}

.quantity-select-title-in-cart_mobile {
  font-size: 14px;
  color: #838383;
  padding-bottom: 5px;
}

/* Remove arrows in quantity textfield */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

.price-in-cart_mobile {
  font-size: 16px;
  padding-top: 10px;
}

.price-in-cart_bigger-screen {
  font-size: 16px;
}

.delete-button-in-cart_mobile {
  color: #838383 !important;
  min-width: 0px !important;
  padding: 5px !important;
  border-radius: 19px !important;
  transition: 250ms !important;
  position: absolute !important;
  right: 0% !important;
  bottom: 0% !important;
}

.delete-button-in-cart_bigger-screen {
  color: #838383 !important;
  min-width: 0px !important;
  border-radius: 19px !important;
  transition: 250ms !important;
}

.delete-button-in-cart_mobile:hover,
.delete-button-in-cart_mobile:active,
.delete-button-in-cart_bigger-screen:hover,
.delete-button-in-cart_bigger-screen:active {
  color: #3d3d3d !important;
}

.continue-shopping-button {
  margin: 30px 0px 0px 0px;
}

.continue-shopping-button-icon {
  padding-right: 12px;
  color: #2b2b2b;
}

.checkout-button {
  margin: 30px 0px 0px 0px;
}

.checkout-button-icon {
  padding-right: 12px;
  color: #2b2b2b;
}

.total-in-cart {
  max-width: 600px;
  margin: 0px 0px 0px auto;
}

.total-quantity-in-cart {
  font-size: 19px;
}

.sub-total-in-cart {
  font-size: 19px;
  margin: 10px 0px 40px 0px;
}

/* Cart end */

/* Footer start */

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.follow-us-text {
  font-family: "Roboto", sans-serif;
  color: #242424;
  text-align: center;
  font-size: 21px;
  padding: 100px 0px 40px 0px;
}

.image-galley {
  width: 300px;
}

.image-gallery-left-nav .image-gallery-svg,
.image-gallery-right-nav .image-gallery-svg {
  height: 60px !important;
  width: 24px !important;
}

.image-gallery-icon:hover {
  color: #bebebe;
}

.image-gallery-icon {
  transition: all 0.1s ease-out;
  filter: drop-shadow(0 2px 2px #757575);
}

.footer-link {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  line-height: 150%;
  padding: 100px 0px 0px 0px;
}

.footer-credit {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  line-height: 150%;
  padding: 0px 0px 10px 0px;
  text-align: center;
  font-size: 12px;
  margin: 100px 0px 0px 0px;
}

/* Footer end */
